main {
    section {
        padding: 0;
        font-size: min(1em, 2vw);
    }
    a.view_more {
        span {
            position: relative;
            background-color: black;
            color: white;
            font-size: 0.8em;
            border-radius: 50%;
            padding: 0.5em 2.5em;
            box-sizing: border-box;

            &::after {
                position: absolute;
                display: block;
                content: "";
                background-color: black;
                width: 5em;
                height: 1.2em;
                right: 0;
                top: 50%;
                transform: translate(98%, -50%);
                clip-path: polygon(0 40%, 85% 40%, 75% 15%, 80% 1%, 100% 50%, 80% 99%, 75% 85%, 85% 60%, 0 60%);
            }
        }
    }
}
@media (max-width: 550px) {
    main {
        a.view_more {
            span {
                background-color: white;
                color: black;

                &::after {
                    background-color: white;
                }
            }
        }
    }
}
section#top {
    background-color: black;
    color: white;
    padding-top: 3em;
    padding-bottom: 2em;

    h1 {
        font-size: 3em;
        line-height: 100%;
        margin: 0;
    }
    aside {
        font-weight: lighter;
    }
}
section#intro {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: black;
    color: white;

    h2 {
        font-size: 2em;
        font-weight: bold;
        margin: 0.5em 0;
    }
    figure {
        text-align: end;

        img {
            width: 15em;
            height: 20em;
            object-fit: cover;
        }
        figcaption {
            display: none;
        }
    }
    p {
        line-height: 1.2em;
    }
    a.view_more {
        display: none;
    }
}
@media (max-width: 550px) {
    section#intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2em;

        figure {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            width: 100%;
            text-align: center;

            figcaption {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    display: block;
                    font-size: 3em;

                    &#role {
                        text-align: start;
                        font-size: 1.5em;
                    }
                    &#ruby {
                        font-size: 1.5em;
                    }
                }
            }
        }
        div#message {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: max-content;

            p {
                width: max-content;
                text-align: start;
                font-size: 1.3em;
            }
            div {
                width: 100%;
                text-align: start;

                a.view_more {
                    display: inline-block;
                    margin-top: 3em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}
section#team {
    display: grid;
    background-color: rgb(255, 165, 0);
    color: black;
    grid-template-columns: 1fr 1fr;
    height: 15em;
    padding: 1em 0;

    div#team_name {
        display: flex;
        justify-content: end;
        padding-right: 5em;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: max-content;

            h2 {
                display: inline-block;
                font-size: 2em;
                text-align: center;
                margin-bottom: 0.5em;
            }
        }
    }
    figure {
        margin: 0;

        img {
            width: 20em;
            height: 15em;
            object-fit: cover;
        }
    }
}
section#company {
    background-color: black;
    color: white;

    h2::before {
        content: "COMPANY";
        color: rgb(58, 58, 58);
    }
    dl {
        display: grid;
        grid-template-columns: 1fr 5fr;

        dt {
            border-right: 2px solid rgb(255, 165, 0);
            padding: 1em 0;
        }
        dd {
            margin-left: 2em;
            padding: 1em 0;
        }
        ul {
            li {
                display: flex;
                align-items: start;

                &::before {
                    display: inline-block;
                    content: "";
                    background-color: white;
                    width: 1em;
                    height: 1em;
                    top: 0;
                    border-radius: 50%; 
                    border: 0.3em solid black;
                    box-sizing: border-box;
                    margin-top: 0.3em;
                    margin-right: 0.3em;
                }
            }
            p {
                display: inline-block;
            }
        }
        div {
            a.view_more {
                display: none;
            }
        }
    }
}
@media (max-width: 550px) {
    section#company {
        dl {
            display: block;

            dt {
                padding: 0;
                border: none;
                border-bottom: 2px solid rgb(255, 165, 0);
                font-size: 1.3em;
            }
            dd {
                padding: 0;
                margin-left: 1.3em;
                margin-top: 0.5em;
                margin-bottom: 1em;
            }
            div {
                width: 100%;
                text-align: start;

                a.view_more {
                    display: inline-block;
                }
            }
        }
    }
}
section.decorate {
    h2 {
        position: relative;
        display: block;  
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 0.8em;
        font-weight: normal;
        z-index: 1;

        &::before {
            position: absolute;
            display: block;
            width: 100%;
            top: -0.54em;
            text-align: center;
            font-size: 2.5em;
            line-height: 2.5em;
            z-index: -1;
        }
    }
    span {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}
@media (max-width: 800px) {
    section.decorate {
        span {
            display: block;
            font-size: 1.5em;
            margin: 2em 0;
        }
    }
}
section#policy {
    background-color: rgb(232, 232, 232);
    padding-bottom: 2em;

    h2::before {
        content: "POLICY";
        color: lightgray;
    }
}
section#mission {
    background-color: black;
    color: white;
    padding-bottom: 2em;

    h2::before {
        content: "MISSION";
        color: rgb(58, 58, 58);
    }
}
section#vision {
    background-color: rgb(53, 53, 53);
    color: white;
    padding-bottom: 2em;

    h2::before {
        content: "VISION";
        color: rgb(79, 79, 79);
    }
}
section#value {
    background-color: rgb(232, 232, 232);
    padding-bottom: 2em;

    h2::before {
        content: "VALUE";
        color: lightgray;
    }
    ol {
        width: min(800px, 80%);
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;

        li {
            margin-left: 1em;
        }
    }
}
@media (max-width: 800px) {
    section#value {
        ol {
            display: block;
            width: max-content;
            counter-reset: value;
            list-style: none;
            font-size: 1em;

            li {
                height: 4em;

                &::before {
                    content: counter(value);
                    counter-increment: value;
                    font-size: 2em;
                    margin-right: 1em;
                }
            }
        }
    }
}