main {
    section {
        padding: 0;
        font-size: min(1em, 2vw);
    }
}
section#top {
    background-color: black;
    color: white;
    padding-top: 3em;
    padding-bottom: 2em;

    h1 {
        font-size: 3em;
        line-height: 100%;
        margin: 0;
    }
    aside {
        font-weight: lighter;
    }
}
section#intro {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: black;
    color: white;

    h2 {
        font-size: 2em;
        font-weight: bold;
        margin: 0.5em 0;
    }
    figure {
        text-align: end;

        img {
            width: 15em;
            height: 20em;
            object-fit: cover;
        }
    }
    p {
        line-height: 1.2em;
    }
}
section#team {
    display: grid;
    background-color: rgb(255, 165, 0);
    color: black;
    grid-template-columns: 1fr 1fr;
    height: 15em;
    padding: 1em 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 3em;

        h2 {
            display: inline-block;
            font-size: 2em;
            text-align: center;
        }
    }
    figure {
        margin: 0;

        img {
            width: 20em;
            height: 15em;
            object-fit: cover;
        }
    }
}
section#company {
    background-color: black;
    color: white;

    h2::before {
        content: "COMPANY";
        color: rgb(58, 58, 58);
    }
    dl {
        display: grid;
        grid-template-columns: 1fr 5fr;

        dt {
            border-right: 2px solid rgb(255, 165, 0);
            padding: 1em 0;
        }
        dd {
            margin-left: 2em;
            padding: 1em 0;
        }
        ul {
            list-style: inside;
        }
    }
}

section.decorate {
    h2 {
        position: relative;
        display: block;  
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 0.8em;
        font-weight: normal;
        z-index: 1;

        &::before {
            position: absolute;
            display: block;
            width: 100%;
            top: -0.54em;
            text-align: center;
            font-size: 2.5em;
            line-height: 2.5em;
            z-index: -1;
        }
    }
    span {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

section#policy {
    background-color: rgb(232, 232, 232);
    padding-bottom: 2em;

    h2::before {
        content: "POLICY";
        color: lightgray;
    }
}
section#mission {
    background-color: black;
    color: white;
    padding-bottom: 2em;

    h2::before {
        content: "MISSION";
        color: rgb(58, 58, 58);
    }
}
section#vision {
    background-color: rgb(53, 53, 53);
    color: white;
    padding-bottom: 2em;

    h2::before {
        content: "VISION";
        color: rgb(79, 79, 79);
    }
}
section#value {
    background-color: rgb(232, 232, 232);
    padding-bottom: 2em;

    h2::before {
        content: "VALUE";
        color: lightgray;
    }
    ol {
        width: min(800px, 70%);
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }
}