html {
    height: 100px;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

main {
    min-height: calc(100% - 250px);

    h2 {
        margin: 0;
        font-size: 3em;
        letter-spacing: 0.05em;
    }
    p {
        margin: 0;
    }
    >section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &.a-link {
        text-decoration: underline;
    }
}