@use "colors";
@import "default";

section#photo {
    padding: 0;

    img {
        width: 100%;
    }
}

section#news {
    color: map-get(colors.$theme, "fg2");
    background-color: map-get(colors.$theme, "bg");
    
    #news-content {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;

        #news-frame {
            display: flex;
            align-items: center;
            width: 500px;
            height: 400px;

            img {
                width: 100%;
            }
        }
        p {
            margin: 0 auto;
        }
    }
}

section#sns {
    background-color: map-get(colors.$theme, "bg");
    color: map-get(colors.$theme, "fg2");

    hr {
        border-color: map-get(colors.$theme, "fg2");
    }
    ul {
        display: flex;
        list-style: none;

        li {
            margin: 0 5em;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 10em;
                    margin: 1em;
                }
                p {
                    text-align: center;
                }
            }
            a:hover img {
                transform: scale(105%);
            }
        }
    }
}

section#contact {
    color: map-get(colors.$theme, "fg3");
    background-color: map-get(colors.$theme, "bg");
    padding-bottom: 3em;

    hr {
        border-color: map-get(colors.$theme, "fg3");
    }
}