@use "colors";
@import "default";

section#photo {
    padding: 0;

    img {
        width: 100%;
        max-height: 500px;
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: center;
    }
}

section#news {
    color: map-get(colors.$theme, "fg2");
    background-color: map-get(colors.$theme, "bg");
    
    #news-content {
        max-width: 100%;
        width: 500px;
        height: 500px;
        color: map-get(colors.$theme, "fg");

        #news-frame {
            display: flex;
            align-items: center;
            max-width: 100%;
            width: 500px;
            height: 400px;

            img {
                width: 100%;
            }
        }
        p {
            margin: 0 auto;
            align-self: flex-start;
        }
    }
}

section#sns {
    background-color: map-get(colors.$theme, "bg");
    color: map-get(colors.$theme, "fg2");

    hr {
        border-color: map-get(colors.$theme, "fg2");
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: min(80%, 700px);
        margin: 0 1em;
        padding: 0;

        li {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            a:hover img {
                transform: scale(105%);
            }
        }
    }
    p.sns_acc {
        text-align: center;

        span {
            display: block;
        }
    }
    img.sns_icon {
        object-fit: cover;
        height: 110px;
        margin: 1em 0;
    }
}
@media (max-width: 550px) {
    section#sns {
        p.sns_acc {
            display: none;
        }
        img.sns_icon {
            margin: 0;
            height: 20vw;
        }
    }
}

section#contact {
    color: map-get(colors.$theme, "fg3");
    background-color: map-get(colors.$theme, "bg");
    padding-bottom: 3em;

    hr {
        border-color: map-get(colors.$theme, "fg3");
    }
}