@import "default";

main {
    section > ul {
        margin: 0;
    }
    h2 {
        font-size: min(2em, 8vw);
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        li {
            margin: 0 1em;

            img {
                height: min(3em, 12vw);   
            }
        }
    }
}