main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2em;
        background-color: rgb(255, 165, 0);
        color: white;
        padding: 0.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: center;
        box-sizing: border-box;
        width: min(100%, 900px);
    }
}
section, p {
    width: min(90%, 800px);
}

section {
    h3 {
        display: flex;
        width: 100%;
        padding: 0.2em;
        padding-left: 2em;
        box-sizing: border-box;

        &::before {
            display: block;
            content: "";
            background-color: black;
            width: 0.1em;
            margin-right: 1em;
        }
    }
}
@media (max-width: 600px) {
    section {
        h3 {
            padding-left: 1em;
        } 
    }
}
section#coach {
    h3 {
        background-color: rgb(246, 235, 5);
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    article {
        img {
            width: calc(100% - 0.5em);
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        span {
            display: block;
            text-align: center;
            font-size: 1.5em;
            margin-top: 0.8em;
        }
        dl {
            background-color: rgb(255, 165, 0);
            font-size: min(1em, 2.2vw);
            margin: 0.5em 0;

            dt, dd {
                margin: 0;
                text-align: center;
            }
            div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            div.position {
                position: relative;
                border-bottom: 2px solid black;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    background-image: url(/icons/school_delimiter.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    bottom: calc(-0.4em - 1px);
                    width: 100%;
                    height: 0.8em;
                    text-align: center;
                }
            }
            div.message {
                background-color: white;

                dt {
                    display: none;
                }   
                dd {
                    grid-column: 1/3;
                    font-size: 1.2em;
                    margin: 0.5em;
                    box-sizing: border-box;
                    text-align: start;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    section#coach {
        ul {
            display: block;

            li {
                padding: 1em 0;
                border-bottom: 2px solid black;

                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                    border: none;
                }
            }
        }
        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content;
            text-align: center;

            img {
                grid-column: 1;
                grid-row: 1;
                width: 50%;
                aspect-ratio: 1/1;
            }
            span {
                grid-column: 1;
                grid-row: 2;
                margin-top: 0.2em;
            }
            dl {
                display: flex;
                flex-direction: column;
                grid-column: 2;
                grid-row: 1/3;
                background-color: white;
                margin: 0;

                dt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(255, 165, 0);
                    border-right: 2px solid black;
                }
                div {
                    grid-template-columns: 6em 1fr;
                    border-top: 2px solid black;
                }
                div.position, div.dream {
                    flex: 0;

                    dd {
                        font-size: 2em;
                    }
                }
                div.position {
                    border: none;
                    &::after {
                        display: none;
                    }
                }
                div.message {
                    flex: 1;

                    dt {
                        display: inherit;
                    }
                    dd {
                        grid-column: inherit;
                    }
                }
            }
        } 
    }
}
section#schedule {
    h3 {
        background-color: rgb(246, 235, 5);
        margin-bottom: 0;
    }
    aside#note {
        width: 100%;
        text-align: start;
        margin-bottom: 1em;
    }
    aside.red {
        color: red;
    }
    table {
        border-collapse: collapse;

        th, td {
            border: 2px solid black;
            text-align: center;
        }
        th {
            background-color: rgb(255, 165, 0);
        }
        td {
            width: 8em;

            aside {
                font-size: 0.7em;
                text-align: end;
                padding-right: 1em;
            }
        }
        span.round {
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            line-height: 1.4em;
            border-radius: 50%;
            border: 1px solid black;
            text-align: center;
            box-sizing: border-box;
            margin: 0 0.5em;
        }
    }
}
@media (max-width: 600px) {
    section#schedule {
        font-size: min(1em, 3vw);
    }
}
section#apply {
    h3 {
        background-color: rgb(246, 235, 5);
    }
}
section#contact {
    h3 {
        background-color: rgb(126, 217, 87);
    }
    dl {
        display: flex;
        width: 100%;

        dt {
            display: inline-block;
            background-color: rgb(126, 217, 87);
            padding: 0 0.5em;
        }
        dd {
            margin: 0;
        }
        div {
            margin: 0 1em;
        }
        div#name {
            display: flex;
            align-items: center;
            dt {
                background-color: white;
            }
            dd {
                font-size: 1.5em;
            }
        }
        div#access {
            line-height: 1.5;
        }
        a#url {
            text-decoration: underline;
        }
    }
}
@media (max-width: 600px) {
    section#contact {
        dl {
            display: grid;
            grid-template-columns: 2fr 3fr;
            margin: 0;

            div {
                &#name {
                    justify-content: center;
                }
                &#access {
                    font-size: min(1em, 4vw);
                }
                &:nth-child(3), &:nth-child(4) {
                    grid-column: 1/3;

                    dd {
                        font-size: 1.5em;
                        margin-left: 1em;
                    }
                }
            }
        }
    }    
}