<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <style>
            @import "component/footer.css";
        </style>
        <footer>
            <h2><a href="index.html">NIKA</a></h2>
            <nav id="menu">
                <ul>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="privacy.html">Privacy</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>