<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <style>
            @import url("component/header.css");
        </style>
        <header>
            <nav id="menu">
                <ul>
                    <li class="selected">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                </ul>
            </nav>
            <div id="home">
                <a href="index.html">
                    <img src="icons/Nika.png"/>
                </a>
            </div>
            <nav id="sns">
                <ul>
                    <li>
                        <a href="https://twitter.com/nika_3x3"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img src="icons/twitter.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@nika_basket"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img src="icons/tiktok.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nika_3x3_team/"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img src="icons/Instagram_white.svg"/>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>