@charset "UTF-8";
html {
  height: 100px;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

main {
  min-height: calc(100% - 250px);
}
main h2 {
  margin: 0;
  font-size: 3em;
  letter-spacing: 0.05em;
}
main hr {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 1em;
  border-top: 3px solid white;
}
main p {
  margin: 0;
}
main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a.a-link {
  text-decoration: underline;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #FFDC00;
  color: white;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header nav ul a {
  display: flex;
  align-items: center;
}
header nav#menu ul {
  justify-content: start;
}
header nav#menu ul li#menu_tab #menu_tab_btn {
  display: flex;
  align-items: center;
  border: 2px solid white;
  padding: 0.3em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
header nav#menu ul li.selected a {
  position: relative;
}
header nav#menu ul li.selected a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2em;
  background-color: white;
  bottom: -0.2em;
}
header nav#menu ul li:hover {
  color: white;
}
header nav#menu ul li:hover.selected a::before {
  opacity: 0%;
}
header nav#menu_nav {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: white;
  color: rgb(243, 152, 0);
  /* font-family: 'Broadway', sans-serif; */
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
header nav#menu_nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  font-size: min(3.5vw, 3em);
}
header nav#menu_nav ul li {
  padding: 0.25em 0.5em;
}
header nav#menu_nav ul li a {
  display: inline;
  cursor: pointer;
  margin: 0;
}
header nav#menu_nav ul li a::before {
  display: inline-block;
  content: "";
  height: 0;
  border-left: 0.3em solid rgb(243, 152, 0);
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  margin-right: 0.5em;
}
header nav#menu_nav ul li:hover {
  background-color: lightgray;
}
header nav#sns ul {
  justify-content: end;
}
header a {
  margin: 0 1em;
}
header #menu,
header #sns {
  flex: 1 1 0;
  margin: 0 2em;
}
header #home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDC00;
  color: black;
  padding: 0.3em 0;
  font-size: 2em;
  line-height: 1em;
}
header #home #header_title {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width: 5em;
  height: 1em;
  padding: 0.4em 0;
  font-family: "Broadway", sans-serif;
}
header #home a {
  margin: 0 1.2em;
}
header #home img {
  position: absolute;
}
header #home #header_icon_1 {
  height: 0.7em;
  bottom: 50%;
  right: 50%;
  transform: translate(-2.5em, 0.9em);
}
header #home #header_icon_2 {
  height: 0.6em;
  top: 0;
  right: 50%;
}
header #home #header_icon_3 {
  height: 1.2em;
  bottom: 50%;
  left: 50%;
  transform: scale(-1, 1) translate(-2.4em, 0.9em);
}
header #sns svg {
  fill: white;
  width: 2em;
  height: 1em;
}
header #sns svg:hover {
  fill: gray;
}
header #menu_icon {
  width: 1.2em;
  height: 1em;
  position: relative;
  margin: 0 0.3em;
}
header #menu_icon span {
  transition: width 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
}
header #menu_icon #menu_icon_top {
  top: 0;
  left: 0px;
  right: 0px;
}
header #menu_icon #menu_icon_middle {
  background: none;
  height: 0;
  top: calc(50% - 1px);
}
header #menu_icon #menu_icon_middle:before, header #menu_icon #menu_icon_middle:after {
  content: "";
  transition: all 0.2s;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: rotate(0deg);
}
header #menu_icon #menu_icon_bottom {
  bottom: 0;
  left: 0px;
  right: 0px;
}
header.open #menu_icon #menu_icon_top {
  left: 100%;
  width: 0px;
}
header.open #menu_icon #menu_icon_middle:before {
  transform: rotate(135deg);
}
header.open #menu_icon #menu_icon_middle:after {
  transform: rotate(45deg);
}
header.open #menu_icon #menu_icon_bottom {
  right: 100%;
  width: 0px;
}
header.open #menu_nav {
  display: block;
}

@media (max-width: 550px) {
  header {
    flex-direction: row-reverse;
  }
  header nav#menu {
    display: flex;
    justify-content: end;
    margin: 0;
    margin-right: 2em;
  }
  header nav#menu ul {
    display: block;
  }
  header nav#menu ul li {
    display: none;
  }
  header nav#menu ul li#menu_tab {
    display: block;
  }
  header nav#menu ul li#menu_tab #menu_icon {
    transform: scale(120%);
  }
  header nav#menu ul li#menu_tab #menu_tab_btn {
    border: none;
  }
  header nav#menu ul li#menu_tab #menu_tab_text {
    display: none;
  }
  header nav#menu_nav {
    width: 50%;
    right: 0;
    left: auto;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
  header nav#menu_nav ul {
    display: block;
    font-size: 1.5em;
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav#menu_nav ul li {
    width: 7em;
    padding: 0.25em 0.5em;
    border-bottom: 1.5px solid lightgray;
  }
  header nav#menu_nav ul li:hover {
    background-color: inherit;
  }
  header #sns li {
    display: none;
  }
}/*# sourceMappingURL=news_header.css.map */